:root {
    --bg: rgb(11, 11, 11);
}

.main {
    /* border: 1px solid blue; */
    display: flex;
    flex-wrap: wrap;
    background-color: var(--bg);
    padding: 0vh 1vw;
    overflow-y: scroll;
    height: 100%;
}

.content {
    flex: 0.85;
    /* border: 1px solid white; */
    height: 93vh;
    display: flex;
    flex-direction: column;
}




.main::-webkit-scrollbar {
    width: 8px;
    height: 10px;
}

.main::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.main::-webkit-scrollbar-thumb {
    background: #a3a3a3;
    border: 0px none #ffffff;
    border-radius: 96px;
}

.main::-webkit-scrollbar-thumb:hover {
    background: #707070;
}

.main::-webkit-scrollbar-thumb:active {
    background: #707070;
}

.main::-webkit-scrollbar-track {
    background: #000000;
    border: 0px none #ffffff;
    border-radius: 50px;
}

.main::-webkit-scrollbar-track:hover {
    background: #000000;
}

.main::-webkit-scrollbar-track:active {
    background: #000000;
}

.main::-webkit-scrollbar-corner {
    background: transparent;
}


/*  */
.tag {
    height: 6vh;
    width: 70vw;
    margin: 0 5vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
    border-radius: 25px;

}

.tag::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.tag::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}