.sidebar {
    flex: 0.15;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 0 15px;
}

.Link {
    text-decoration: none;
}

/* .element {
    width: 90%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
} */


/* .element:hover{
    background-color: rgb(50, 49, 49);
    cursor: pointer;
} */

/* 
.element:active{
    background-color: rgb(29, 29, 29);
    cursor: pointer;
} */
/* 
.sidebar_line{
    margin: 15px 0;
    border-top: 2px solid rgb(36, 36, 36);
    width: 95%;
} */